/* to style the header section and make its position sticky */
header {
    position: fixed;
    background-color:aquamarine;
    width: 300px;
    padding: 0 0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
  }
/* Nav bar reference taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black */
/* to display in a sinle line */
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  /* to not diaplay the style in a list and provide required margin and padding*/
  ul li {
    list-style: none;
    margin:10px 10px;
    padding: 0 15px;
  }
  /*  not to display the underline in the text */
  li a {
    text-decoration: none;
  }
  /* changes the color when hover around */
  li a:hover {
    color: red;
  }
  /* draw a border around the active page */
  #page2 {
    border: 1px solid salmon;
  }
  /* draw a border around the active page */
  #page1 {
    border: 1px solid salmon;
  }
  /* to change the bakground color */
  body {
    background-color: olive;
  }
  /* providing padding, and to put the image with id name "pp" to the right corner */
  #pp {
    padding: 5px 80px;
    display: flex;
    justify-content: right;
  }
  /* provides the circular border */
  #pp img {
    border-radius: 50%;
  }
  /* to align the items inside the content class to center */
  .Content {
    align-items: center;
    padding: 0 10%;
  }
  /* styling the h1 element inside the content class name */
  .Content h1{
    display: block;
    color: bisque;
    /* Refence taken from source "https://www.w3schools.com/cssref/playdemo.php?filename=playcss_text-shadow" */
    text-shadow:5px 5px 10px blue;
    margin-bottom: 0;
    font-weight: bold;
  }
  /* Styles every text inside the h3 element */
  h3 {
    text-decoration: underline;
    display: block;
    font-size: larger;
    font-weight: 200;
  }
  /* styling the id named "education" to align the text to center */
  #education {
    text-align: center;
  }
  /* Styles every text inside the h3 element */
  p {
    display: block;
    margin: 10px 0;
  }
  /* Reference for css in table "https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_table_center" */
  table {
    width: 80%;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* to provide borders in the table and collapse them */
  table, th, td {
    border: 1px solid rgb(160, 170, 156);
    border-collapse: collapse;
    text-align: center;
  }
  /* width of container class is set to 80%, displays the content in a line and provides space between the content inside the container class*/
   .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  /* provides the position of footer, its height,weight and background color */
  .footer {
    position: absolute;    
    bottom: 0;
    height: 4%;
    width: 100%;
    background-color: bisque;
  }
  /* displays the list items in a single line, provides the size of font and places the list items in the center */
  .footer ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: large;
    justify-content: center;
  }
  /* provides the margin */
  .footer ul a {
    margin: 0 10px;
  }

    /* Css styling for page2 "aboutme.html" */
  /* Provides the width of section class*/
  .section {
    width: 100%;
}
/* provides the width of container1 class, make it block and provides margin and padding */
.section .container1 {
    width: 80%;
    display: block;
    margin: 10px auto;
    padding: 50px 0;
}
/*  Provides margin and aligns the text to center */
.container1 #title {
    text-align: center;
    margin-bottom: 50px;
}
/* Makes the h1 element a block, convert the text to uppercase, sets the font size and color  */
.container1 #title h1 {
    display: block;
    text-transform: uppercase;
    font-size: 35px;
    color: rgb(205, 245, 9);
}
/* provides width to the class content1 and aligns item  to the left*/
.content1 {
    float: left;
    width: 50%;
}
/* Makes the h2 element a block, provides margin and sets the font property */
.content1 h2{
    display: block;
    margin-top: 60px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
/* provides  width to the class image-section and aligns item  to the right */
.image-section {
    float: right;
    width: 45%;
}
/* provides border to the image */
.image-section img {
    border-radius: 10%;
}
 /* style for fab icon taken from source https://www.youtube.com/watch?v=jNih6HMvZh0 */
.social-media {
  width: 100%;
  margin-top: 150px;
  text-align: center;
  display:inline-block;
}
/* this selection provides the color of the fab icon, changes the size, provides the border height,weight, and radius, background color and margin to the fab icons */
.social-media i {
  color: black;
  font-size: 23px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* text-align: center; */
  background-color: rgb(168, 206, 206);
  margin:5px 15px;
}
