/* * {
    margin: 0;
    padding: 0;
} */
header {
    position: fixed;
    background-color:aquamarine;
    width: 300px;
    padding: 0 0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
  }
/* Nav bar reference taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black */
  nav ul {
    /* to display in a sinle line */
    display: flex;
    margin: 0;
    padding: 0;
  }
  ul li {
    /* to not diaplay the style in a list */
    list-style: none;
    margin:10px 10px;
    padding: 0 15px;
  }
  li a {
    /*  not to display the underline in the text */
    text-decoration: none;
  }
  li a:hover {
    color: red;
  }
  #page2 {
    border: 1px solid salmon;
  }
  #page1 {
    border: 1px solid salmon;
  }
  body {
    background-color: olive;
  }
  #pp {
    padding: 5px 80px;
    display: flex;
    justify-content: right;
  }
  #pp img {
    border-radius: 50%;
  }
  .Content {
    height: 20vh;
    align-items: center;
    padding: 0 10%;
  }
  .Content h1{
    color: bisque;
    /* Refence taken from source "https://www.w3schools.com/cssref/playdemo.php?filename=playcss_text-shadow" */
    text-shadow:5px 5px 10px blue;
  }
  h3 {
    text-decoration: underline;
  }
  #education {
    text-align: center;
  }
  /* Reference for css in table "https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_table_center" */
  table {
    width: 80%;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
  }
  table, th, td {
    border: 1px solid rgb(160, 170, 156);
    border-collapse: collapse;
    text-align: center;
  }
   .container {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
  }
  .left {
    align-items: start;
  }
  .center {
    align-items: center;
  } .right {
    align-items: end;
  }
  /* footer {
    display: flex;
  }
  .footer.Social_link{
    display: flex;
  }
  .Social_link a {
    display: inline-block;
  } */
 

  /* Css styling for page2. Services */
  
  #MyId {
    display: flex;
    justify-content: center;
    color: white;
    margin: 5%;
  }
  div.myoffer {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 180px;
  }
  div.myoffer:hover {
    border: 1px solid blue;
  }
  div.myoffer img {
    /* width: 100%;
    height: auto; */
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .footer {
    /* to put the footer at the end */
    position: relative;    
    height: 8%;
    width: 100%;
    background-color: bisque;
  }
  .footer ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: large;
    justify-content: center;
  }
  .footer ul a {
    margin: 0 10px;
  }